body {
  background-color: #1c1e26;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;

  > form {
    display: flex;
    flex-direction: column;

    > div {
      display: grid;
      grid-template-columns: 2fr 8fr;

      > div.labels {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-end;
        margin-right: 20px;
      }

      > div.inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }

    > button {
      margin-top: 20px;
    }
  }

  > div.search {
    margin-top: 30px;
    display: grid;
  }

  > input {
    margin-top: 5px;
    min-width: 100%;
  }

  > table.table {
    margin-top: 30px;
    min-width: 100%;
    text-align: center;

    > thead {
      > tr {
        > td {
          padding: 10px;
        }
      }
    }

    > tbody {
      font-weight: normal;
    }
  }
}
