body {
  font-family: Arial, Helvetica, sans-serif;

  > section#doby {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;

    > div.product {
      display: flex;
      flex-direction: column;

      > img {
        width: 100%;
      }

      > div.thumbnail {
        display: flex;
        justify-content: space-between;

        > div.left {
          display: flex;
          flex-direction: column;
        }

        > div.right {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
